
:root {
  --pink-100: #FF6CF9;
  --pink-50: #FCB5F9;
  --pink-25: #FFDEFD;
  --blue-100: #3FACF4;
  --blue-50: #ABD6FF;
  --blue-25: #D1E8FF;
  --orange-100: #FFA756;
  --orange-50:#FFBB7D;
  --orange-25:#FFECDF;
  --purple-100: #702AFA;
  --error: #FF4242;
  --success: #6FCC7B;
  --background-gradient: linear-gradient(to bottom, #FCB5F9, #FCEFE6, #FFFFFF, #E6FFF5, #B8DCFF);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans';
  line-height: 1.2;
  color: black;
  background: var(--background-gradient);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
  padding: 5rem 1rem;
  margin: 0 auto;
}

header img {
  width: 360px;
  height: auto;
  margin-bottom: 1rem;
}

h1 {
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0rem;
}

.game-cards p {
  text-align: justify;
}

header button {
  background-color: var(--purple-100);
  color: white;
  padding: 0.75rem 2rem;
  border-color: var(--purple-100);
  border-style: solid;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 32px;
  transition: opacity 0.15s ease;
}

header button:hover {
  opacity: 0.8;
  transition: opacity 0.15s ease;
}

header button:active {
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

.game-cards button {
  background-color: transparent;
  border-color: black;
  border-style: solid;
  padding: 0.75rem 8rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 24px;
  transition: background-color 0.15s ease;
  margin-top: 1rem;
}

.game-cards button:hover {
  background-color: var(--blue-100);
  color: white;
  border-color: var(--blue-100);
  transition: opacity 0.15s ease;
}

.game-cards button:active {
  opacity: 0.5;
}

main {
  padding: 12rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

main h2 {
  font-size: 2rem;
  color: var(--blue-100);
  text-align: center;
  margin-bottom: 4rem;
}

.game-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.game-card {
  border-radius: 10px;
  padding: 1.5rem;
  width: 100%;
  max-width: 350px;
  text-align: center;
}

.game-card h3 {
  margin-bottom: 1rem;
}

.game-card p {
  margin-bottom: 1.5rem;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar .user-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
}

.navbar .user-profile img {
  width: 40px;
  margin-right: 1rem;
}

.navbar .user-profile h3 {
  font-size: 1rem;
  font-weight: 700;
  color: var(--purple-100);
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 2rem;
  margin-left: auto
}

.nav-links a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
  font-weight: 500;
}

.nav-links a:hover {
  color: var(--purple-100);
  font-weight: 500;
}

.logout-btn {
  background-color: var(--purple-100);
  color:white;
  padding: 0.5rem 2rem;
  border-radius: 36px;
  border: none;
  font-family: 'DM Sans';
  font-size: medium;
  font-weight: 500;
}

.logout-btn:hover {
  background-color: transparent;
  border-color: black;
  border-style: solid;
  padding: 0.4rem 1.85rem;
  border-color: var(--purple-100);
  color: var(--purple-100);
  transition: opacity 0.15s ease;
  opacity: 0.8;
}

.login-btn {
  background-color: var(--purple-100);
  color:white;
  padding: 0.5rem 2rem;
  border-radius: 36px;
  border: none;
  font-family: 'DM Sans';
  font-size: medium;
  font-weight: 500;
}

.login-btn:hover {
  background-color: transparent;
  border-color: black;
  border-style: solid;
  padding: 0.4rem 1.85rem;
  border-color: var(--purple-100);
  color: var(--purple-100);
  transition: opacity 0.15s ease;
  opacity: 0.8;
}

.signup-btn {
  background-color: var(--purple-100);
  color:white;
  padding: 0.5rem 2rem;
  border-radius: 36px;
  border: none;
  font-family: 'DM Sans';
  font-size: medium;
  font-weight: 500;
}

.signup-btn:hover {
  background-color: transparent;
  border-color: black;
  border-style: solid;
  padding: 0.4rem 1.85rem;
  border-color: var(--purple-100);
  color: var(--purple-100);
  transition: opacity 0.15s ease;
  opacity: 0.8;
}

@media (max-width: 768px) {
  header {
    padding: 5rem;
  }

  header img {
    margin-top: 3rem;
    width: 300px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .game-cards {
    flex-direction: column;
    align-items: center;
  }

  .game-cards button {
    padding: 0.75rem 8rem;
  }

  main {
    padding: 6rem 1rem;
  }
}

@media (max-width: 480px) {
  header {
    padding: 6rem;
  }
  header img {
    margin-top: 6rem;
    width: 250px; 
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 0.8rem;
  }

  header button {
    font-size: 0.8rem;
    padding: 0.5rem 2rem;
  }

  .game-cards button {
    font-size: 0.8rem;
    padding: 0.5rem 6.5rem;
  }

  .game-card {
    max-width: 300px; 
  }

  main {
    align-items: center;
    padding: 4rem 4rem; 
  }

  main h2 {
    font-size: 1.2rem;
  }
}